.link {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: #6c648b;
    padding: 0.6em 1.6em;
    border-radius: 2em;
    background: transparent;
    transition: background 0.2s, color 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
}

.link:hover {
    background: #f3eaff;
    color: #a13be0;
}